{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "chrome": "50",
          "safari": "9",
          "firefox": "50"
        }
      }
    ]
  ]
}