@import '../../styles/variables.scss';

.victory-modal {
  position: fixed;
  z-index: 100;
  background: $color-styleguide-secondary;
  color: #fff;
  min-width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;

  &__text {
    flex: 1 1 100%;
    text-align: center; // should inherit but for testing
    margin: 10px 0 20px 0;
  }
}