@import '../../styles/variables.scss';

.lobby-players-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-top: 10px;
    position: relative;
  }

  &__update {
    display: flex;
    margin-right: 150px;
  }

  &__color-input {
    position: relative;
    background: #fff;
    max-width: 100px;
  }

  &__color-box {
    display: inline-block;
    position: relative;
    background: #fff;
    width: 10px;
    height: 10px;
  }

  &__edit {
    padding: 0 5px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    right: -7px;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;

    &-cancel,
    &-confirm,
    &-button {
      transition: color .2s ease-in-out;
      &:hover {
        color: darken(#fff, 15%);
      }
    }

    &-cancel {
      padding-right: 5px;
    }
  }
}