@import '../../styles/variables.scss';

$input-checkbox-background: transparent !default;
$input-checkbox-color: #fff !default;
$input-checkbox-border-bottom: 1px solid #fff !default;
$input-checkbox-outline-color: darken(#fff, 15%) !default;
$input-checkbox-spacing-right: 10px !default;

.input-checkbox {
  background: $input-checkbox-background;
  color: $input-checkbox-color;
  border: none;
  border-bottom: $input-checkbox-border-bottom;
  width: auto;
  margin-right: $input-checkbox-spacing-right;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline-color: $input-checkbox-outline-color;
    outline-width: 5px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  &__label {
    user-select: none;
    cursor: pointer;
  }
}