@import '../../styles/variables.scss';

$create-game-width: 100% !default;
$create-game-max-width: 600px !default;
$create-game-background: rgba($color-styleguide-secondary, .7) !default;
$create-game-color: #fff !default;

.create-game {
  width: $create-game-width;
  max-width: $create-game-max-width;
  color: $create-game-color;
  background: $create-game-background;
  margin: 0 auto;

  &__content {
    padding: 0 40px 40px;
  }

  &__name-input {
    margin-right: 30px;
  }

  &__input-group {
    margin-top: 10px;
    display: flex;
  }

  &__error {
    color: $create-game-color;
    padding: 10px 0;
  }
}
