@import '../../styles/variables.scss';
.create-game {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  background: rgba($color-styleguide-secondary, .7);

  &__content {
    padding: 0 40px 40px;
  }

  &__name-input {
    margin-right: 30px;
  }

  &__input-group {
    margin-top: 10px;
    display: flex;
  }

  &__error {
    color: white;
    padding: 10px 0;
  }
}
