@import '../../styles/variables.scss';
.chat {
  border: 1px solid #fff;
  overflow: hidden;
  max-width: 300px;

  &__messages {
    background: #fff;
    color: #000;
    height: 200px;
    overflow: auto;
  }

  &__inputs {
    display: flex;
  }

  &__message {
    &-input {
      margin-top: 0;
    }

    &-submit {
      background: green;
      border: none;
      color: #fff;
      padding: 0 30px;

      &:hover {
        background: lighten(green, 10%);
      }
    }
  }
}